
/* Thumbnail images on all pages padding makes img smaller*/
body {
	text-align: center;
}

.alert alert-warning alert-dismissible fade show, .close {
	background-color: red;
}
/* Main header background on all pages*/

.jumbotron {
	margin-bottom: 1px;
}
.nav-link {
	margin-top: auto;
}


.form-group, h2 { 
	margin-top: 20px;
	margin-left: 20px;
	width: 1000px;
	font-size: 20;
	font-style: strong;
	color: blue;
}

.btn btn {
	margin-left: 20px;
}
.bordered-container {
	display: inline-block;
	width: 70%;
	height: 20%;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	padding: 1%; 
	margin: 1%;
	text-align: left;	
}
.worksample {
	display: inline-block;
	margin: 2%;
	color: gray;
	text-align: center;
}
#example-summary {
	margin: 3%;
	text-align: center;
}
.list {
	text-align: justify;
	margin: auto;
	padding-left: 40px;	
	color: black;
}
.media {
	margin-top: 20px;
	margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

