
/* Thumbnail images on all pages padding makes img smaller*/
body {
	text-align: center;
}

.jumbotron jumbotron-fluid {
	
	
}

.alert alert-warning alert-dismissible fade show, .close {
	background-color: red;
}
/* Main header background on all pages*/

.jumbotron {
	margin-bottom: 1px;
}

.card-img-top, h3 {
	width: 250px;
	height: 250px;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	
}

.nav-link {
	margin-top: auto;
	text-align: line-through

}

.card-group {
	width: 1000px;
	margin: auto
}

/* index pic sizes & form width for contact*/

.form-group, h2, { 
	margin-top: 20px;
	margin-left: 20px;
	width: 1000px;
	font-size: 20;
	font-style: strong;
	font-color: blue;
}

.btn btn {
	margin-left: 20px;
}


.media {
	margin-top: 20px;
	margin-left: 20px;
	
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.list {
	text-align: justify;
	margin: auto;
	padding-left: 40px;
	
	
}